[Unit]
Description=Ticketing bot for the Bangers Disc
After=network-online.target

[Service]
ExecStartPre= /bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/bin/bash -c '/home/raspi/Documents/BangersTicketingBot/python/run_bot.sh > /home/raspi/bot.log 2>&1'

[Install]
WantedBy=network-online.target
